body {padding: 10px 100px;}
table {border-collapse: collapse;}
table tr td {border: solid black 1px; padding: 4px;text-align: center;}
#mainmenu ul li{
	list-style: none;
	display: inline;
}
#reg_form {float:left}
#reg_form div {clear:both; text-align:right;padding: 4px 0px;}
#reg_form div label {float:left;}